<ion-header>
  <ion-toolbar>
    <ion-title><br><b>ENTER CODE</b></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="/assets/img/code.JPG" id="code">
    </ion-row>
    <ion-row>
      <div id="CodeInput">
        <ion-item>
          <ion-label position="floating">Enter payement code</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="dark" id="btn" (click)="goToNextPage()">ACCEPT</ion-button>
    </ion-row>

  </ion-grid>

</ion-content>