<ion-header>
     <ion-toolbar>
      <ion-title><br><b>PAYEMENT CARD CONFIRMATION</b></ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-back-button color="danger"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="/assets/img/card.svg" id="card">
    </ion-row>
    <ion-row>
      <ion-text id="text1">A petrol attendance will provide you with a card machine</ion-text>
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="dark" id="btn" (click)="goToNextPage()">PAID</ion-button>
    </ion-row>

  </ion-grid>

</ion-content>