ion-content{

    --background: #ffffff;
    text-align:center;
  }

ion-header{
    height: 80px;
    background-color: #23DC97;
    margin: auto;
}
ion-title{
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    text-align:center;
    margin: auto;
}
  #summary{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  #reciep{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 80%;
    height: 230px;
    border-radius: 20px;
    font-size:large;
    color: black;
    background-color: #23DC97;
  }
  #total{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: Montserrat;
    font-size: 22px;
  }
  #btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 70%;
    height: 60px;
    font-size: large;
}
  