ion-content{
    --background: #23DC97 ;
}
.logo{
    position: absolute;
    top: 30px;
    height: 100px;
    width: 200px;
    left: 80px; 
}
.login-section{
    top: 130px;
    width: 100%;
    background: #ffff;
    right: 0;
    left: 0;
    bottom: 0px;
    position: absolute;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    
    .heading{
        margin-top: 20px;
        h1{
            font-size: 1.6rem;
            font-weight: bolder;
            color: black;
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color:#7b7b7b;
        }
    }
    .login-form{
        .form-input{
            position: relative;
            margin-bottom: 10px;
            ion-item::part(native){
                padding-left: 0;
            }
            ion-icon{
                position: absolute;
                top: 37px;
                z-index: 2;
                font-size: 1.2rem;
                left: 5px;
            }
            ion-label{
                position: absolute;
                top: 3px;
                margin-left: 35px;
                font-size: 0.8rem;
                font-weight: bolder;
            }
            ion-input{
                font-size: 0.9rem;
                --padding-start: 36px;
                --padding-top: 36px;
                color: #7b7b7b;
            }
        }
    }
    .action-buttons{
        text-align: center;
        .login-button{
            width: 100%;
            font-weight: bold;
        }
        p{
            margin-top: 15px;
            font-size: 1rem;
            color:#7b7b7b;
        }
        .signup-button{
            --border-color: #b4b4b4;
            -color: #0000;
            font-weight: bold;
            margin-top: 30px;
            width: 100%;
        }
    }
}