<ion-header>
  <ion-title><br><b>SCAN BARCODE</b></ion-title>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="/assets/img/scancBar.jpg" id="scanBar">
    </ion-row>
    <ion-row>
      <ion-text id="text1"><br><b>Scan the Station Barcode so we know where you are within our station.</b></ion-text>
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="dark" id="btn" (click)="goToNextPage()">Scan barcode</ion-button>
    </ion-row>

  </ion-grid>

</ion-content>
