ion-content{

    --background: #ffffff;
    text-align:center;
  }

ion-header{
    height: 80px;
    background-color: #ffffff;
    margin: auto;
}
ion-title{
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    text-align:center;
    margin: auto;
}
  #service{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  #text1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    font-size: 20px;
    font-family: Montserrat;
    color: black;
  }
  #btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 70%;
    height: 60px;
    font-size: large;
}
#btn2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 70%;
    height: 60px;
    font-size: large;
}