<ion-header>
  <ion-title><br><b>SERVICES</b></ion-title>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="/assets/img/services.jpg" id="service">
    </ion-row>
    <ion-row>
      <ion-text id="text1"><br><b>with fill up app, you can<br>fill up petrol and shop<br>inside while in the<br>confort of your car </b></ion-text>
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="warning" id="btn" (click)="goToFillupPage()">FILL UP</ion-button>
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="success" id="btn2" (click)="goToShopPage()">SHOP IN GARAGE</ion-button>
    </ion-row>

  </ion-grid>

</ion-content>