<ion-header>
  <ion-title><br><b>SHOP</b></ion-title>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="/assets/img/shop.svg" id="shop">
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text id="text1"><b>CURRENT TOTAL:</b></ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text id="text2"><b>PRODUCTS </b></ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="product"><br>BENSON
          <ion-text id="text3">25.0</ion-text>
        </div>
        
      </ion-col>
      <ion-col>
        <div id="product"><br>STYVERSON
          <ion-text id="text3">25.0</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="product"><br>MARLBORO
          <ion-text id="text3">25.0</ion-text>
        </div>
      </ion-col>
      <ion-col>
        <div id="product"><br>COKE 500 ML
          <ion-text id="text3">25.0</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="dark" id="btn" (click)="goToNextPage()"><b>CHECKOUT</b></ion-button>
    </ion-row>

  </ion-grid>

</ion-content>