<ion-header [translucent]="true">

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <img src="/assets/img/logo1.jpg" id="logo">
    </ion-row>
    <ion-row>
      <ion-text id="text1"><b>LET'S SHOP IN THE COMFORT OF OUR CAR</b></ion-text>
    </ion-row>
    <ion-row>
      <img src="/assets/img/home.svg" id="homeImg">
    </ion-row>
    <ion-row>
      <ion-button shape="round" color="light" id="btn" (click)="goToNextPage()"><b>Get started</b></ion-button>
    </ion-row>
  </ion-grid>
  
</ion-content>
