
ion-content{

  --background: #23DC97;
  text-align:center;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#text1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#homeImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
  width: 110%;
  height: 274px;
}
#btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 70%;
  height: 60px;
  font-size: large;
}